.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.example2 .navbar-brand>img {
  padding: 7px 15px;
}


#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
/*!
 * Start Bootstrap - Logo Nav (https://startbootstrap.com/template-overviews/logo-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logo-nav/blob/master/LICENSE)
 */

 
*{margin:0; padding:0px;}
body {
  padding-top: 0px;
}
.search_list .search_title h1 a {
    color: #0178C8;
}
.search_list .search_title h1 {
    font-size: 18px;
    margin: 0px 0 5px;
}
.search_list .search_title p {
    font-size: 14px;
	margin-bottom: 15px;
}
.search_discription p {
    float: right;
    color: #6e0402;
    font-size: 13px;
    font-weight: 600;
}
.search_list {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 2px 3px #ccc;
}
.search_title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.search_discription h2 {
    margin: 0px 0 20px;
    color: #015790;
    font-size: 18px;
    font-weight: 500;
}
.search_discription .single_dis {
    color: #333;
    font-size: 14px;
    font-weight: 500;
	line-height: 21px;
}
.search_discription .search_cmt a {
    color: #1c5c76;
    font-size: 14px;
}
.search_discription .search_cmt {
    text-align: right;
    vertical-align: middle;
    padding: 25px 0;
}
.search_discription {
    position: relative;
}
.search_discription .search_projectName {
    position: absolute;
    bottom: -15px;
    margin-bottom: 0;
}
.search_discription .search_projectName span {
    color: #888;
    font-weight: 500;
}
.search_list .search_res {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px;
}
/*--Header--*/
/*--//Header--*/
/*--search_view--*/
/*--// search_view--*/
/*--all porjects--*/
/*--// all porjects--*/
/*--pagination--*/
/*--// pagination--*/
body {
  font: 100% Roboto, sans-serif;
  color: #333;
  background: #eaeaea; }

.head_navbar {
  padding: 20px 0px; }

.head_navbar .main_nav a {
  color: #222222;
  font-size: 18px;
  padding: 0px 15px; }

.head_navbar .main_nav a:hover {
  color: #0071bc; }

.login_btn button {
  background: #0071bc;
  cursor: pointer;
  border-radius: 0px; }

.search_view {
  margin-top: 2em;
  margin-bottom: 2em; }

/*--Grid View--*/
.grid_list {
  padding: 4px 0; }

.search_view #imaginary_container {
  float: left;
  width: 85%; }

.start_porject {
  background: #0071bc;
  border: 2px solid #045890;
  height: 260px;
  text-align: center;
  vertical-align: middle;
  width: 260px;
  display: table-cell; }

.plus_icon {
  background: #fff;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  border-radius: 50%; }

.start_porject a i {
  color: #0071bc;
  font-size: 24px; }

.start_porject p {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px; }

.all_project .grid_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300; }

.all_project .project_grid h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: margin-b-0; }

.all_project .project_grid h1 a {
  color: #222222; }

.project_grid {
  background: #fafafa;
  border: 1px solid #c9c9c9;
  position: relative;
  height: 260px; }

.project_grid .bill_id {
  font-size: 14px;
  color: #959595;
  padding: 0 10px;
  margin-bottom: 0px; }

.project_grid .bill_team {
  font-size: 14px;
  color: #959595;
  padding: 0 10px; }

.project_grid .bill_id span {
  font-size: 15px; }

.project_grid .bill_team span {
  font-size: 15px; }

.project_grid .last_update {
  position: absolute;
  bottom: 0;
  width: 100%; }

.last_update p {
  font-size: 12px;
  color: #959595;
  padding: 10px;
  margin-bottom: 0px;
  border-top: 1px solid #e0e0e0; }

.space-top {
  margin-top: 30px; }

/*--// Grid View--*/
.project_pagination {
  margin-top: 2em;
  margin-bottom: 2em; }

.project_pagination nav {
  text-align: center; }

.project_pagination .pagination {
  display: inline-flex;
  margin: 0 auto; }

/*--List View--*/
.list_add_porject button {
  cursor: pointer;
  background: #0071bc;
  border: 2px solid #045890;
  text-transform: uppercase;
  border-radius: 0px; }

.project_grid.project_list .last_update {
  position: static; }

.project_grid.project_list {
  height: auto; }

/*--// List View--*/
.grid_view img {
  filter: grayscale(100%); }

/*# sourceMappingURL=style.css.map */
